@charset "utf-8";
@import "../../css/layout.scss";
header{
    background-color: #fac74d;
}
.heads{
    >.fbs{
        font:normal 0.18rem PingFang-SC-Medium;
    }
}
.sets{
    top:$heights;
    bottom:0.4rem;
}
.banners{
    width:100%;
    height: 1.39rem;
    border:0.01rem solid transparent;
    overflow: hidden;
    >img{
        width:100%;
        height:100%;
    }
}
.category{
    width:100%;
    display: flex;
    >ul{
        height:4.475rem;
        overflow:auto;
    }
    >.menu{
        width:1rem;
        >li{
            width:100%;
            height:0.57rem;
            padding:0.05rem;
            background:#eeeeee;
            color: #333333;
            font:normal 0.15rem PingFang-SC-Regular;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-top:0.01rem solid #666666;
//          border-bottom:0.01rem solid #999999;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        >li:first-child{
            border:none;
        }
        >.active{
            border-left:0.05rem solid #fa4408;
            background:#ffffff;
        }
    }
    >.ccbg{
        width:2.75rem;
        padding-left:0.1rem;
        >li{
            display: flex;
            padding:0.1rem 0;
            >div:nth-child(1){
                width: 0.82rem;
                height: 0.82rem;
                border-radius:0.08rem;
                border:0.01rem solid #eeeeee;
//              border:0.01rem solid rgba(150,150,150,0.1);
//              border:0.01rem solid transparent;
                overflow: hidden;
                >img{
                    width:100%;
                    height:100%;
                }
            }
            >div:nth-child(2){//
                width:1.3rem;
                margin-left:0.15rem;
                >div:nth-child(1){
                    width:100%;
                    height:0.25rem;
                    color: #333333;
                    font:normal 0.15rem PingFang-SC-Regular;
                    padding-top:0.05rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; 
                }
                >div:nth-child(2){
                    height:0.2rem;
                    display: flex;
                    >span{
                        color: #fa6939;
                        font:normal 0.12rem PingFang-SC-Regular;
                        line-height:0.2rem;
                    }
                }
                >div:nth-child(3){
                    width:1rem;
                    height:0.18rem;
                    display: flex;
                    margin-top:0.05rem;
                    >div{
                        width:0.4rem;
                        height:100%;
                        color: #fa6939;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    >input{
                        width: 0.355rem;
                        height:100%;
                        border:0.01rem solid #eeeeee;
                        background-color: #e5e5e5;
                        text-align: center;
                        color: #fa4408;
                        font:normal 0.12rem PingFang-SC-Regular;
                    }
                }
            }
        }
    }
}
footer{
    width:100%;
    height:0.4rem;
    position:absolute;
    left:0;
    bottom:0;
    background:red;
    display: flex;
    >div{
        height:100%;
        display: flex;
        align-items:center;
        justify-content: center;
        color: #333333;
        font:normal 0.15rem SimHei;
    }
    >div:nth-child(1){
        width:60%;
        background:#cccccc;
        >span{
            color: #333333;
            font:normal 0.15rem SimHei;
        }
    }
    >div:nth-child(2){
        width:40%;
        background-color: #ffcc66;
    }
}