.chatInfo_header{
    margin:0.2rem 0;
    background-color: #fff;
    padding:0 0.2rem;
    height: 2rem;
    position: relative;
}
.chatInfo_header img{
    width: 1.8rem;
    border-radius: 50%;
    margin-top: 0.1rem;
    vertical-align: middle;
}
.chatInfo_header span{
    display: inline-block;
    font-size: 0.43rem;
    margin-left: 0.2rem ;
}
.chatInfo_header a{
    position: absolute;
    right: 5%;
    bottom:20%;
    width: 0.6rem;
    height: 1rem;
    background: url("../img/b_left_03.png") no-repeat center;
    transform: rotate(180deg);
    -webkit-background-size: 100%;
    background-size: 100%;
}
.chat_Info,.chat_close,.chat_empty,.chat_report{
    margin-top: 0.2rem;
    padding:0 0.2rem;

    /*height: 1rem;*/
    line-height: 1rem;
    background-color: #fff;
    position: relative;
}
.chat_report a{
    display: block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color: #333333;
    font-size: 0.32rem;

}
.delete {
    bottom: 0;
    position: fixed;
    height: 8.8rem;
    width: 100% ;
    background-color: #fff;
}
.delete button{
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 1rem;
    border-radius: 10px;
    background-color: #f093a1;
    color:#fff;
    font-size: 0.36rem;
    text-align: center;
}
.mui-switch{
    position: absolute;
    top: 15%;
}
 .mui_close{
    right: 5%;
}
 .mui_open{
     right: 0;
 }
.mui-switch.mui-active{
    background-color: #f093a2;
    border: none;
}
#mask{
    width: 100%;
    height: 100%;
    opacity: 0.4; /*半透明*/
    filter: alpha(opacity=40); /*ie 6半透明*/
    background-color: black;
    position: fixed;
    z-index:1000;
    top: 0;
    left: 0;
    display: none;
}
.confirm_delete{
    width: 5.65rem;
    height: 3rem;
    position:absolute;
    left: 12%;
    top:50%;
    transform: translateY(-50%);
    background: #fff;
    z-index: 1001;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
}
.confirm_delete h4{
    text-align: center;
    height: 1.83rem;
    line-height: 1.83rem;
    font-size: 0.32rem;
    margin-bottom:0.5rem;
}
.confirm_delete button{
    font-size: 0.32rem;
    position: absolute;
    border:none;
    height: 0.92rem;
    line-height: 0.92rem;
    bottom: 10%;
    background-color:rgba(0,0,0,0);
}
.confirm_delete .quit{
    left: 20%;
}
.confirm_delete .confirm{
    right: 20%;
    color:#ea6476;
}
