.connect_Header ul li:last-of-type span{
    border-bottom: 3px solid #fff;
    display: inline-block;
    height: 80%;
}
.connect_Header ul li a{
    color: #fff;
    font-size:0.36rem;
    display: inline-block;

}
/*.connect_Header .add{
    background-image: url("../img/add.png");
}*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #565655; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #565655;opacity:1;
}

input:-ms-input-placeholder{
    color: #565655;opacity:1;
}

input::-webkit-input-placeholder{
    color: #565655;opacity:1;
}
body{
    background-color: #fff;
}
.content {
    position: relative;
    padding-top:1.5rem;
}
.content .search{
    position: relative;
}
.content .search input{
    padding-left:40%;
    display: block;
    width: 94%;
    border:2px solid #f093a1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin:0.25rem 0.2rem 0.5rem 0.2rem;
}
 .search del{
    width: 0.45rem;
    height: 0.6rem;
    position: absolute;
    left: 35%;
    top: 10%;
    background: url("../img/big.png") no-repeat center;
    -webkit-background-size: 90%;
    background-size: 90%;
}
 /*联系人列表*/
.list .mui-table-view .left{
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    background: url("../img/arrow.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.list .mui-table-view span{
    line-height:0.6rem ;
    font-size: 0.3rem;
    padding-left:0.2rem;
}