html{
    background-color: #fff;
}
.detail_header h3{
    text-align: center;
}
.detail_main{
    padding:0  0.2rem;
    margin-top: 0.2rem;
    border:none;
}
.detail_main_header{
    border:none;
}
.response{
    width: 100%;
    margin-top: 0.6rem;
    padding:0 0.2rem;
}
.response_header img{
    width: .82rem;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
}
.content_main{
    border:none;

}
.response_header_center{

}
.response_header_center span{
    display: block;
    font-size: 0.3rem;
    color:#f093a1;margin-left: 0.3rem;
}
.response_header_center em{
display: block;
    font-size: 0.24rem;
    color:#696c6c;
}
.response_header_right{
    float:right;
    margin-top: -0.8rem;
}
.response_header_right #hand ,.response_header_right #comment{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../img/hand.png) no-repeat center;
    -webkit-background-size: 90%;
    background-size: 80%;

}
.response_header_right #comment{
    background-image: url("../img/commit.png");
    -webkit-background-size: 100%;
    background-size: 100%;

}
.response_content{
    margin-top: 0.2rem;
    position: relative;
    left:0.3rem;
    padding-right: 0.3rem;
}
.response_content p{
    color:#4a4949;
    font-size: 0.32rem;
    margin: 0.2rem 0;
    padding-right: 0.3rem;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;

}
.content_main del ,.content_main em,.content_main span{
    display: inline-block;
    color:#4a4949;
    font-size: 0.28rem;
}
.my_response{
    width: 100%;
    background-color: #eeeeee;position: fixed;
    bottom: 0;
    height: 1rem;
    left: 0;
}
.my_response input{
    display: block;
    width: 90%;
    height: 0.6rem;
    position: absolute;
    bottom: 20%;
    left: 5%;
    margin-bottom: 0;
    border:1px solid #c0c0c0;
    text-indent: 1em;
}
.my_response em{
    position: absolute;
    right:8%;
    top: 20%;
    z-index:666;
    width: 0.5rem;
    height: 0.5rem;
    background:url("../img/chat1_05.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
/*改变placeholder的字体颜色*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666666; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666666;opacity:1;
}

input:-ms-input-placeholder{
    color: #666666;opacity:1;
}

input::-webkit-input-placeholder{
    color: #666666;opacity:1;
}