.all_photo,.all_dynamic{
    width: 100%;
    border-top:10px solid #eeeeee;
}
.all_dynamic{
    border-top:10px solid #eeeeee;
    border-bottom:10px solid #eeeeee;
}
.all_photo p,.all_dynamic p{
    height: 0.9rem;
    line-height: 0.9rem;
    padding-left:0.2rem;
    font-size: 0.36rem;
    position: relative;
}
.all_photo p em,.all_dynamic p em{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/arrow.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    right: 0%;
    top: 12%;
}
.all_photo .all_photo_ul,.all_dynamic ul{
    width: 100%;
}
.all_photo .all_photo_ul li,.all_dynamic .all_dynamic_ul li{
    margin-right:0.1rem;
    width: 30%;
    height: 3rem;
    box-sizing: border-box;
    float:left;

}
.all_dynamic .all_dynamic_ul li{
    width: 15%;
    height: 1.3rem;
    float: left;
    position: relative;
    padding-right: 0.1rem;
}
.all_photo .all_photo_ul li img,.all_dynamic li img{
    height: 80%;
}
.all_photo .all_photo_ul li span{
    display: block;
    font-size: 0.24rem;
    text-align: center;
    color:#6e6e6e;
}