.Dynamic ul {
    width: 100%;
    position: relative;

}
.Dynamic ul li{
    box-sizing: border-box;
   position: absolute;
    width: 33%;
    font-size: 0.36rem;
    color:#fff
}
.Dynamic ul li a{
    color:#fff;
    font-size: 0.36rem;
}
.Dynamic ul li:first-of-type{
   left: 30%;
    /*margin-right:1rem;*/
}
.Dynamic ul li:last-of-type{
   right:0.5rem;
    box-sizing: border-box;
}
.Dynamic ul li:last-of-type span{
    border-bottom: 8px solid #fff;
}
.Dynamic .transmit{
    position: absolute;
    right: 4%;

    width: 0.6rem;
    height: 0.98rem;
    background: url("../img/transmit.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 80%;
}
.main input{
    padding-left: 40%;
    font-size: 0.3rem;.main
}
.main .name,.Dynamic_discuss,.more{
    padding:0 0.2rem;
}
.main .name{
    height: 0.5rem;

}
.main .name h3{
    color:#da6265;
    font-size: 0.3rem;
}
.main .name i{
    display: inline-block;
    padding:0.05rem 0.2rem;
    color:#fff;
    background-color: #f093a1;
    border-radius: 20px;
}
.main .dynamic_topic{
    border-bottom: 1px solid #f093a1;
}
.Dynamic_discuss li{
    height: 0.38rem;
    font-size: 0.24rem;
}
.dynamic_topic .more {
   font-size: 0.3rem;
   padding-bottom: 0.1rem;
    color:#f093a1;
}
.create{

}
.create h4{
    text-align: center;
    height: 0.7rem;
    font-size: 0.3rem;
    color:#f093a1;
    line-height: 0.7rem;
}
.create p{
    text-align: center;
    margin-bottom: 0.2rem;
}
.create span{
    display: inline-block;
    background-color: #c0bfbe;
    color: #fff;
    padding:0.1rem 0.2rem;
    border-radius: 15px;
}
.dynamic_topic{
padding:0 0.2rem;
    margin-top: 0.2rem;
}
.dynamic_header{
    position: relative;
}
.dynamic_header img{
    width: 0.6rem;
    display: inline-block;
    -webkit-background-size: 100%;
    background-size: 100%;
    border-radius: 50%;
}
.middle{
    position: absolute;
    left: 0.8rem;
    top: 20%;
    font-size: 0.28rem;
}
.middle h4{
    display: inline-block;
    font-size: 0.28rem;
    color:#f093a1;
}
.middle i{
    margin-left:0.3rem;
    padding:0.02rem 0.1rem;
    background-color: red;
    color:#fff;
}
.middle span{
    position: absolute;
    left: 0rem;
    top: 0.35rem;
}
 .right{
    position: absolute;
    right: 0;
    top: 0;
     line-height: 0.15rem;
     padding:0.1rem 0.2rem;
     background-color: #f093a1;
     border-radius: 20px;
     color:#fff;
}
.dynamic_topic p {
    margin-top: 0.2rem;
    font-size: 0.3rem;
    width: 100%;
    padding-right: 0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color:#333;
}
.dynamic_topic p a{
    color:#f093a1;
    font-size: 0.25rem;
}
.dynamic_topic .picture{
    width: 3rem;
    -webkit-background-size: 100%;
    background-size: 100%;

}


