html{
    background-color: #fff;
}
header h3{
    line-height: 1.3rem;
}
.location_alert header em{
    background-image: url("../img/l_search_03.png");
}
.location_main {
    width: 100%;
    padding:0 0.3rem;
}
.location_main .location_hidden{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    position: relative;
}
.location_main .location_hidden span{
    color:#4d5a80;
    display: inline-block;
    font-size: 0.32rem;
    width: 90%;
}
.location_main .location_hidden em{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 0.6rem;
    height: 1.5rem;
    background: url("../img/location_hidden_07.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: none;
}
.location_main .message{
    display: block;
    /*   display: none;*/
}
.location_main .message li{
    height: 1.2rem;
    line-height: 1.2rem;
}
/*高德的*/
#container{
    height:8.5rem;
    width: 95%;
 /*   margin-top: 120px;*/
    position: relative;
    left: 2%;
    border:1px solid #eee;
}
#tip {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-size: 12px;
    left: 5% ;
    top: 90%;
    line-height: 30px;
}
.location_alert{
    background-color: #fff;
    height: 100%;
    width: 100%;
}