/*页脚样式重置*/
.mine_footer{
    
}
.mine_footer ul li:first-of-type a i{
    background-image: url("../img/Bdynamic2_03.png");
}
.mine_footer ul li:first-of-type a span{
    color:#777777;
}
.mine_footer ul li:nth-of-type(2) a i{
    -webkit-background-size: 90%;
    background-size: 90%;
}
.mine_footer ul li:last-of-type a i{
    background-image: url("../img/Rmine.png");
}
.mine_footer ul li:last-of-type a span{
    color:#f093a1;
}
/*顶部*/
.header{
    height:3.8rem;
    width: 100%;
    background: url("../img/bg.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 0.4rem  0.2rem 0 0.2rem;

}
.header .up{
    margin-top: 0.4rem;
}
.header .up i{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: url("../img/set.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;

}
/*.header .up i:last-of-type{
    background-image: url("../img/code.png");

}*/
.header .center{
    width: 100%;
    margin-top: 0.3rem;
    position: relative;
}
.header .center img{
    width: 1.2rem;
    border-radius: 50%;
    min-height: 1rem;
    max-height: 1.2rem;
}
.header .center .minddle{
    position:absolute;
    left: 1.5rem;
    top: 0;
    color:#fff;
}
.header .center .middle_up span{
    font-size: 0.3rem;
    margin-right: 0.3rem;
}
.header .center .middle_up em{
    padding:0.02rem 0.12rem;
    background-color: #d64e61;
}
.header .center .middle_center{
    font-size: 0.28rem;
    margin-top: 0.1rem;
}
.header .center .middle_down{
    font-size: 0.28rem;
}
.header .down{
    color:#fff;
    font-size: 0.28rem;
    margin-top: 0.2rem;
}
/*导航部分*/
.nav{
    width: 100%;
    padding:0 0.2rem;
    margin-top: 0.3rem;
}
.nav ul{
    width: 100%;
}
.nav ul li{
    width: 50%;
    float: left;
    height: 2.4rem;
    margin-bottom: 0.2rem;
}
.nav ul li a{
    display: block;
    border:1px solid #f093a1;
    border-radius: 10px;
    margin-bottom: 0.1rem;
    padding: 0.14rem 0;
    height: 100%;
    position: relative;
}
.nav ul li a img{
    display: block;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);

}
.nav ul li:nth-of-type(3) a img{
    width: 27%;
}
.nav ul li a em{
    display: block;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 0.26rem;
   /* margin-top: 0.05rem;*/
}
/*.nav ul li:first-of-type a em{
    margin-top: 0.3rem;
}*/
.literature{
    margin-bottom: 1rem;
}
.literature p{
    height: 0.65rem;
    width: 100%;
    padding-left: 0.2rem;
    line-height: 0.65rem;
    background-color: #f2f1f1;
    border-top:1px solid #cecfcf;
    border-bottom:1px solid #cecfcf;
    font-size: 0.26rem;
}
.literature .literature_content{
    width: 100%;
    height: 2rem;
}
.literature .literature_content li{
    width: 33.3%;
    height: 100%;
    line-height: 100%;
    position: relative;
    float: left;
    border:1px solid #e8e8e8;
    border-top: none;
}
.literature .literature_content li a{
    position: absolute;
    left: 50%;
    top:50%;
transform: translate(-50%,-50%);
}
.literature .literature_content li a img{
    width: 100%;

    display: block;
}
.literature .literature_content li a span{
    display: block;
    margin-top: 0.2rem;
    text-align: center;
}
#mask{
    width: 100%;
    height: 100%;
    opacity: 0.4; /*半透明*/
    filter: alpha(opacity=40); /*ie 6半透明*/
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    /*display: block;*/
    z-index: 88855;
    display: none;
}
#show{
    /*display: block;*/
    width: 100%;
    position: fixed;
    z-index: 88857;
    bottom: 0;
    background-color: #fff;
    display: none;
}
#show ul{
    width: 100%;

}
#show ul li{
    width: 100%;
    height: 0.98rem;

}
#show ul li a ,#show ul li button{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 0.98rem;
    text-align: center;
    color:#333;
    font-size: 0.36rem;
}
#show ul li:first-of-type a{
    color:#919599;
    font-size:0.24rem;
}
#show ul li  button{
    background-color: #fff;
   border-top: 10px solid #eee;
}


.header
del {
    position: absolute;
    right: 0%;
    top: 40%;
    color:#eee;
}
body{
    background-color: #fff;!important;
}
/*.nav ul li:nth-of-type(1) img{
    margin-left: 0.9rem;
}
.nav ul li:nth-of-type(1) em{
    margin-top: 0.15rem;
}
.nav ul li:nth-of-type(2) img{
    width: 42%;
    margin-left: 1.05rem;
}
.nav ul li:nth-of-type(2) em{
    margin-top: 0.15rem;
}
.nav ul li:nth-of-type(3) img{
    margin-top: 0.25rem;
    margin-left: 1.2rem;
    width: 30%;
}
.nav ul li:nth-of-type(4) img{
    margin-top: 0.2rem;
    margin-left: 1rem;
}
.nav ul li:nth-of-type(3) em{
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}
.nav ul li:nth-of-type(4) em{
    margin-top: -0.15rem;

}*/
.literature .literature_content li:last-of-type a img{
    width: 77%;
}
/*单个样式的设置*/
footer ul li span{
    margin-top: 0.68rem;
 }