.notic_Header .add {
    background-image: url("../img/add.png");
}
.notic_Header  ul li  a{
    color:#fff;
    font-size: 0.36rem;
}
.notic_Header  ul li:last-of-type span{

  border:none;
}
.notic_Header .notic span{
    border-bottom: 3px solid #fff;
}
/*页脚样式的重置*/
footer ul li:first-of-type a i{
    background-image: url("../img/Bdynamic2_03.png");
}
footer ul li:first-of-type span{
    color: #000;
}
footer ul li:nth-of-type(2) a i{
    background-image: url("../img/Rperson2_05.png");
    -webkit-background-size: 90%;
    background-size: 90%;

}
footer ul li:nth-of-type(2) a span{
    color:#e4939e;
}
/*样式重置完毕*/
.content{
    overflow-x: hidden;
    margin-bottom: 1rem;
    width: 100%;
    padding-top:0.88rem;
}
.notic_content{
    width: 100%;
}
.notic_content li{
    padding:0.2rem;
}
.notic_content .content_top .ct_left{
    width: 0.8rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
}
.notic_content .ct_middle{
    margin-left: 0.3rem;
    width: 3.8rem;
}
.notic_content .content_top .ct_middle p ,.ct_middle del,.ct_middle em,.ct_middle h4{
    font-size: 0.26rem;
}
.ct_middle em{
    color:#33699c;
}
.ct_middle del{
    text-decoration: none;
}
.ct_middle h4{
    margin-top: 0.1rem;
    font-size: 0.22rem;
}
.ct_right{
    width: 0.8rem;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 0.18rem;
}
.content_bottom{
    width: 100%;
    position: relative;
    left: 1.1rem;
    border-bottom:1px solid #ecebec;

}
.content_bottom .data{
    padding:0.2rem 0 ;
    color:#909091;
}
.content_bottom .status i{
    position: absolute;
    right: 45%;
    bottom: 0%;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/n_hand.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.content_bottom .status .commit{
    background-image: url("../img/n_commit%20.png");
    -webkit-background-size: 80%;
    background-size: 80%;
    right: 35%;
}
.content_bottom .status .etc{
    background-image: url("../img/n_etc.png");
    right:20%;
}
.focus_on{
    margin:0.2rem 0;
    margin-right: 0.1rem;
    background: #eff5fc;
    color: #a7b9d4;
}
.focus_hand img,.focus-img img {
    width: 80%;
}
