html{
    height: 100%;
    width: 100%;
    background: url("../img/login_Background.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.layer{
    height: 100%;
    width:100%;
    overflow: hidden;
    box-sizing: border-box;
}
.box{
    margin-top: 70%;
    width: 100%;
    text-align: center;
}
.box input{
    background-color: rgba(0,0,0,0);
    padding-bottom: 0.1rem;
    border-bottom:1px solid #fff;
    font-size: 0.28rem;
    width: 90%;
    display: block;
    position: relative;
    left: 10%;
    color: #ffff;
}
.username,.Verification,.password{
    line-height: 1rem;
    height:1rem;
    position: relative;
    width: 90%;
}
.Verification span{
    position: absolute;
    right: 0%;
    top: -25%;
    height: 0.58rem;
    line-height: 0.58rem;
    font-size: 0.14rem;
    padding:0rem 0.1rem;
    color:#fff;
    background-color: #f093a1;
    border-radius: 20px;
}
.register{
    display: block;
    width: 80%;
    position: relative;
    left:10%;
    background-color: #f093a1;
    color:#fff;
    font-size: 0.36rem;
    border:0;
    border-radius: 20px;
    padding:0.1rem 0;
}