@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

img {
  display: block; }

 
a {
  color: #666;
  text-decoration: none; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun","����"; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

select, input {
  vertical-align: middle; }

select, input, textarea {
  font-size: 12px;
  margin: 0; }

input, textarea {
  outline-style: none;
  -webkit-appearance: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse; }



/*两端对其*/
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
/*排成一行*/
.row{
    display: flex;
    flex-direction: row;
}


/* 清理浮动 */
.quality-classify > ul:after,.quality-drinks ul:after{
    display: block;
    content: " ";
    clear: both;
}

/*2.添加新的样式*/
.lt{
    float: left;
}
.rt{
    float: right;
}