@charset "UTF-8";
/*head高度，沉浸式0.8，普通0.4*/
/*后退键高度*/
html, body {
  height: 100%;
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
}

.heads {
  width: 100%;
  height: 0.4rem;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fac74d;
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(164, 164, 164, 0.33);
}
.heads > .icon-guanbi {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.25rem;
}
.heads > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 0.18rem PingFang-SC-Regular;
}
.heads > .fbs {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.8rem;
  height: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 0.15rem PingFang-SC-Medium;
}

.sets {
  width: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
}

/*单行隐藏*/
.yincang {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

.clearfix {
  width: 100%;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
  background: #FAC74D;
}
.clearfix > div:nth-child(1) {
  width: 3.08rem;
  height: 0.33rem;
  border-radius: 0.2rem;
  overflow: hidden;
}
.clearfix > div:nth-child(1) > input {
  width: 100%;
  height: 100%;
  padding: 0 0.12rem;
  font: normal 0.15rem AdobeHeitiStd-Regular;
}
.clearfix > div:nth-child(1) > input::-webkit-input-placeholder {
  /*placeholder样式*/
  padding-left: 0.5rem;
}
.clearfix > div:nth-child(2) {
  width: 0.47rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clearfix > div:nth-child(2) > div:nth-child(1) {
  font-size: 0.2rem;
}
.clearfix > div:nth-child(2) > div:nth-child(2) {
  font-size: 0.115rem;
}

.sets {
  top: 0.4rem;
  bottom: 0.5rem;
}

#swiper1 img {
  width: 3.75rem;
  height: 1.265rem;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.1rem 0;
  border-bottom: 0.1rem solid #eeeeee;
}
.menu > a {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu > a > div:nth-child(1) {
  width: 0.45rem;
  height: 0.45rem;
  background: #eeeeee;
}
.menu > a > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
.menu > a > div:nth-child(2) {
  color: #000000;
  font: normal 0.14rem AdobeHeitiStd-Regular;
}

.trading {
  width: 100%;
  height: 0.485rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.01rem solid #eeeeee;
}
.trading > div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trading > div > div {
  color: #000000;
  font: normal 0.14rem AdobeHeitiStd-Regular;
}

.act {
  border-bottom: 0.03rem solid #ec944d;
}

.contents {
  /*小区域滚动打开*/
  width: 100%;
}

.shows {
  width: 100%;
  padding: 0.1rem;
}
.shows > div:nth-child(1) {
  display: flex;
}
.shows > div:nth-child(1) > div:nth-child(1) {
  width: 0.41rem;
  height: 0.41rem;
  border-radius: 50%;
  overflow: hidden;
  background: #cccccc;
}
.shows > div:nth-child(1) > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
.shows > div:nth-child(1) > div:nth-child(2) {
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.shows > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  color: #010101;
  font: normal 0.12rem AdobeHeitiStd-Regular;
}
.shows > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  color: #313131;
  font: normal 0.095rem AdobeHeitiStd-Regular;
}
.shows > div:nth-child(2) {
  /*9.4rem*/
}
.shows > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  max-height: 1.15rem;
  margin: 0.08rem 0;
  font: normal 0.15rem AdobeHeitiStd-Regular;
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}
.shows > div:nth-child(2) > div:nth-child(1) > span {
  color: #ff4947;
  margin-right: 0.1rem;
  font: normal 0.15rem AdobeHeitiStd-Regular;
}
.shows > div:nth-child(2) > div:nth-child(3) {
  color: #666666;
  font: normal 0.12rem AdobeHeitiStd-Regular;
}
.shows > div:nth-child(2) > div:nth-child(3) > span {
  font: normal 0.12rem AdobeHeitiStd-Regular;
}

#swiper2 img {
  width: 100%;
}

.aas {
  width: 100%;
  overflow: auto;
}
.aas > div {
  white-space: nowrap;
}
.aas > div > img {
  width: 1.3rem;
  height: 1.3rem;
}

.aas::-webkit-scrollbar {
  /*隐藏滚动条*/
  display: none;
}

footer {
  width: 100%;
  height: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0rem 0rem 0.04rem 0rem rgba(150, 149, 149, 0.38);
}
footer > div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
footer > div > div:nth-child(1) {
  font-size: 0.25rem;
}
footer > div > div:nth-child(2) {
  color: #252423;
  font: normal 0.12rem AdobeHeitiStd-Regular;
}
footer > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer > div:nth-child(3) > div:nth-child(1) {
  width: 0.495rem;
  height: 0.36rem;
  background-image: url(../../../../img/logo.png);
  background-position: -0.08rem 0rem;
  background-size: 130% 130%;
}

/*# sourceMappingURL=index.css.map */
