@charset "UTF-8";
@import "../../css/layout.scss";
.clearfix{
    width:100%;
    height:$heights;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
//  padding-top:0.4rem;/*沉浸式打开*/
    padding-left:0.2rem;
    background:#FAC74D;
    >div:nth-child(1){
        width: 3.08rem;
        height: 0.33rem;
        border-radius:0.2rem;
        overflow: hidden;
        >input{
            width:100%;
            height:100%;
            padding:0 0.12rem;
            font:normal 0.15rem AdobeHeitiStd-Regular;
        }
        >input::-webkit-input-placeholder{/*placeholder样式*/
            padding-left:0.5rem;
        }
    }
    
    >div:nth-child(2){
        width:0.47rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >div:nth-child(1){
            font-size:0.2rem;
        }
        >div:nth-child(2){
           font-size:0.115rem; 
        }
    }
}
.sets{
    top:$heights;
    bottom:0.5rem;
}
#swiper1{
    img{
        width: 3.75rem;
        height: 1.265rem;
    }
}
.menu{
    width:100%;
    display: flex;
    justify-content:space-around;
    padding:0.1rem 0;
    border-bottom:0.1rem solid #eeeeee;
    >a{
        width:(100%/3);
        display: flex;
        flex-direction: column;
        align-items: center;
        >div:nth-child(1){
            width: 0.45rem;
            height: 0.45rem;
            background:#eeeeee;
            >img{
                width:100%;
                height:100%;
            }
        }
        >div:nth-child(2){
            color: #000000;
            font:normal 0.14rem AdobeHeitiStd-Regular;
        }
    }
}
.trading{
    width:100%;
    height:0.485rem;
    display: flex;
    justify-content: center;
    border-bottom:0.01rem solid #eeeeee;
    >div{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        >div{
            color: #000000;
            font:normal 0.14rem AdobeHeitiStd-Regular;
        }
    }
}
.act{
    border-bottom:0.03rem solid #ec944d;
}
.contents{/*小区域滚动打开*/
    width:100%;
//  height:2.6rem;
//  overflow: hidden;
//  overflow: auto;
}
.shows{
    width:100%;
    padding:0.1rem;
    >div:nth-child(1){
        display: flex;
        >div:nth-child(1){
            width:0.41rem;
            height:0.41rem;
            border-radius:50%;
            overflow: hidden;
            background:#cccccc;
            >img{
                width:100%;
                height:100%;
            }
        }
        >div:nth-child(2){
            margin-left:0.1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            >div:nth-child(1){
                color: #010101;
                font:normal 0.12rem AdobeHeitiStd-Regular;
            }
            >div:nth-child(2){
                color: #313131;
                font:normal 0.095rem AdobeHeitiStd-Regular;
            }
        }
    }
    >div:nth-child(2){/*9.4rem*/
        >div:nth-child(1){
            width:100%;
            max-height:1.15rem;
            margin:0.08rem 0;
            font:normal 0.15rem AdobeHeitiStd-Regular;
            overflow:hidden; /*超出隐藏*/
            display:-webkit-box; /*将对象作为弹性伸缩盒子模型显示。*/
            -webkit-box-orient:vertical;/*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
            -webkit-line-clamp:2; /*超出2行用省略号表示*/
            >span{
                color: #ff4947;
                margin-right:0.1rem;
                font:normal 0.15rem AdobeHeitiStd-Regular;
            }
        }
        >div:nth-child(3){
            color: #666666;
            font:normal 0.12rem AdobeHeitiStd-Regular;
            >span{
                font:normal 0.12rem AdobeHeitiStd-Regular;
            }
        }
    }
}
#swiper2{
    img{
        width:100%;
    }
}
.aas{
    width:100%;
    overflow: auto;
    >div{
        white-space:nowrap;
        >img{
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}
.aas::-webkit-scrollbar {/*隐藏滚动条*/
    display:none;
}
footer{
    width:100%;
    height:0.5rem;
    position:absolute;
    left:0;
    bottom:0;
    display: flex;
    box-shadow: 0rem 0rem 0.04rem 0rem rgba(150, 149, 149, 0.38);
    >div{
        width:20%;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-end;
        >div:nth-child(1){
            font-size:0.25rem;
        }
        >div:nth-child(2){
            color: #252423;
            font:normal 0.12rem AdobeHeitiStd-Regular;
        }
    }
    >div:nth-child(3){
        display: flex;
        flex-direction: column;
        justify-content:center;
        >div:nth-child(1){
            width: 0.495rem;
            height: 0.36rem;
            background-image:url(../../../../img/logo.png);
            background-position:-0.08rem 0rem;
            background-size:130% 130%;
        }
    }
}
