@charset "utf-8";
@import "../../css/layout.scss";
.heads{
    background:white;
    >div{
        >div{
            width:1.8rem;/*1.215*/
            height:100%;
            display: flex;
            justify-content: space-between;
            >div{
                width: 0.405rem;
                height:100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #333333;
                font:normal 0.18rem PingFang-SC-Medium;
            }
            .act{
                border-bottom:0.02rem solid #fac74d;
            }
        }
    }
    >.fbs{
        color:#fac74d;
        font-size:0.2rem;
    }
}
.sets{
    top:$heights;
    bottom:0.5rem;
    >div{
        padding-bottom:0.2rem;
    }
}
.imags{
    width:100%;
    height:3.75rem;
    background:#eeeeee;
    >img{
        width:100%;
        height:100%;
    }
}
.ma_child_money{
    display: flex;
    align-items: flex-end;
    padding:0.105rem 0 0.165rem 0.2rem;
    >div:nth-child(1){
        display: flex;
        align-items: flex-end;
        >div:nth-child(1){
            padding-bottom:0.05rem;
            color: #ef1866;
            font:normal 0.15rem PingFang-SC-Medium;
        }
        >div:nth-child(2){
            color: #ef1866;
            font:normal 0.3rem PingFang-SC-Medium;
        }
    }
    >div:nth-child(2){
        margin-left:0.145rem;
        display: flex;
        padding-bottom:0.05rem;
        >div{
            color: #666666;
            font:normal 0.15rem PingFang-SC-Medium;
        }
    }
}
.ma_child_bodys{
    padding:0 0.13rem;
    border-bottom:0.09rem solid #eeeeee;
    >div:nth-child(1){
        color: #333333;
        font:normal 0.15rem SimSun;
    }
    >div:nth-child(2){
        padding:0.105rem 0 0.125rem 0; 
        color: #999999;
        font:normal 0.12rem SimSun;
    }
}
.evaluation{
    padding:0.1rem 0;
    border-bottom:0.01rem solid #eeeeee;
    >div:nth-child(1){
        padding:0 0.13rem;
        >div{
            color: #333333;
            font:normal 0.15rem PingFang-SC-Medium;
            >span{
                color: #333333;
                font:normal 0.15rem PingFang-SC-Medium;
            }
        }
    }
   >div:nth-child(2){
       padding:0 0.13rem;
       display: flex;
       flex-wrap: wrap;
        >div{
            height: 0.235rem;
            padding:0 0.08rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background:#FCE3A6;
            border-radius: 0.118rem;
            color: #000000;
            margin-top:0.1rem;
            margin-right:0.1rem;
            font:normal 0.12rem PingFang-SC-Medium;
        }
   }
}
.evaluation_details{
    padding:0.13rem 0;
}
.details{
    padding:0 0.125rem;
    >div:nth-child(1){
        display: flex;
        align-items: center;
        >div:nth-child(1){
            width: 0.415rem;
            height: 0.415rem;
            border-radius:50%;
            overflow: hidden;
            background: #eeeeee;
            >img{
                width:100%;
                height:100%;
            }
        }
        >div:nth-child(2){
            color: #000000;
            font:normal 0.18rem PingFang-SC-Regular;
            margin-left:0.085rem;
        }
    }
    >div:nth-child(2){
        padding:0.1rem 0 0.145rem 0.1rem;
        color:rgba(0,0,0,0.6);
        font:normal 0.12rem SimSun;
        letter-spacing: 0;
    }
    >div:nth-child(3){
        font:normal 0.13rem PingFang-SC-Regular;
        >div{
            margin-top:0.15rem;
            >img{
                display: inline-block;
                width: 1.05rem;
                height: 1.05rem;
                background:#eeeeee;
            }
        }
    }
    >div:nth-child(4){
        display: flex;
        justify-content: space-between;
        margin-top:0.215rem;
        >div:nth-child(1){
            color:rgba(33,33,33,0.6);
            font:normal 0.12rem SimSun;
            >span{
                color:rgba(33,33,33,0.6);
                font:normal 0.12rem SimSun;
            }
        }
        >div:nth-child(2){
            display: flex;
            font-size:0.15rem;
            >span{
                display: inline-block;
                padding:0 0.05rem;
                height:0.15rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font:normal 0.12rem SimSun;
            }
        }
    }
}
footer{
    width:100%;
    height:0.5rem;
    padding:0 0.2rem;
    position: absolute;
    left:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    >div:nth-child(1){
        width:0.5rem;
        height:0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#bbbbbb;
        font-size:0.2rem;
    }
    >div:nth-child(2),>div:nth-child(3){
        width: 1.2rem;
        height: 0.37rem;
        border-radius: 0.04rem;
        font:normal 0.12rem SimSun;
    }
    >div:nth-child(2){
        color: #333333;
        border: solid 0.005rem #333333;
    }
    >div:nth-child(3){
        color: #ffffff;
        background:#EF1866;
    }
}































