@charset "utf-8";
@import "../../css/layout.scss";
.sets{
    top:$heights;
    bottom:0;
}
.locations{
    width:100%;
    padding:0.15rem;
    display: flex;
    align-items: center;
    background-image:url(../../img/bl_11.png);
    background-size:100% 100%;
//  background-color: #eeeeee;
    >div:nth-child(1){
        >div:nth-child(1){
            display: flex;
            margin-left:0.2rem;
            >div{
                color: #333333;
                font:normal 0.18rem AdobeHeitiStd-Regular; 
            }
            >div:nth-child(2){
                margin-left:0.5rem;
            }
        }
        >div:nth-child(2){
            display: flex;
            color: #333333;
            font:normal 0.15rem AdobeHeitiStd-Regular; 
            >i{
                padding:0.01rem 0.02rem 0 0;
                font-size:0.15rem;
            }
        }
    }
    >div:nth-child(2){
        width:10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.ora{
    padding:0.19rem 0.1rem 0.19rem 0.3rem;
    >div{
       color: #333333;
       font:normal 0.15rem AdobeHeitiStd-Regular; 
       >span{
           font:normal 0.15rem AdobeHeitiStd-Regular;
       }
    }
    >div:nth-child(2){
        margin-top:0.05rem;
        >span{
            color: #ff3300;
        }
    }
}
.orb{
    >div{
        width:100%;
        padding:0.2rem 0.3rem;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eeeeee;
        >div:nth-child(1){
            color:#3FC60C;
            font-size:0.27rem;
        }
        >div:nth-child(2){
            margin-left:0.2rem;
            color: #333333;
            font:normal 0.18rem AdobeHeitiStd-Regular;
        }
        >div:nth-child(3){
            font-size:0.2rem;
        }
    }
    >div:nth-child(2){
        border-top:0.01rem solid #cccccc;
        >div:nth-child(1){
            color:#09AAF0;
        } 
        >div:nth-child(3){
            color:#FFCC66;
            font-size:0.2rem;
        }
    }
}
.orc{
    width: 1.955rem;
    height: 0.35rem;
    background-color: #ffcc66;
    border-radius: 0.06rem;
    margin:0.365rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font:normal 0.18rem AdobeHeitiStd-Regular;
}
