@charset "UTF-8";
/*head高度，沉浸式0.8，普通0.4*/
/*后退键高度*/
html, body {
  height: 100%;
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
}

.heads {
  width: 100%;
  height: 0.4rem;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fac74d;
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(164, 164, 164, 0.33);
}
.heads > .icon-guanbi {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.25rem;
}
.heads > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 0.18rem PingFang-SC-Regular;
}
.heads > .fbs {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.8rem;
  height: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 0.15rem PingFang-SC-Medium;
}

.sets {
  width: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
}

/*单行隐藏*/
.yincang {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

.sets {
  top: 0.4rem;
  bottom: 0;
}

.locations {
  width: 100%;
  padding: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../img/bl_11.png);
  background-size: 100% 100%;
}
.locations > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  margin-left: 0.2rem;
}
.locations > div:nth-child(1) > div:nth-child(1) > div {
  color: #333333;
  font: normal 0.18rem AdobeHeitiStd-Regular;
}
.locations > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  margin-left: 0.5rem;
}
.locations > div:nth-child(1) > div:nth-child(2) {
  display: flex;
}
.locations > div:nth-child(1) > div:nth-child(2) > i {
  padding: 0.01rem 0.02rem 0 0;
  font-size: 0.15rem;
}
.locations > div:nth-child(1) > div:nth-child(2) > span {
  display: inline-block;
  width: 100%;
  max-height: 0.6rem;
  color: #333333;
  font: normal 0.15rem AdobeHeitiStd-Regular;
  letter-spacing: 0rem;
  line-height: 0.2rem;
}
.locations > div:nth-child(2) {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ora {
  padding: 0.19rem 0.1rem 0.19rem 0.3rem;
}
.ora > div {
  color: #333333;
  font: normal 0.15rem AdobeHeitiStd-Regular;
}
.ora > div > span {
  font: normal 0.15rem AdobeHeitiStd-Regular;
}
.ora > div:nth-child(2) {
  margin-top: 0.05rem;
}
.ora > div:nth-child(2) > span {
  color: #ff3300;
}

.orb > div {
  width: 100%;
  padding: 0.2rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}
.orb > div > div:nth-child(1) {
  color: #3FC60C;
  font-size: 0.27rem;
}
.orb > div > div:nth-child(2) {
  margin-left: 0.2rem;
  color: #333333;
  font: normal 0.18rem AdobeHeitiStd-Regular;
}
.orb > div > div:nth-child(3) {
  font-size: 0.2rem;
}
.orb > div:nth-child(2) {
  border-top: 0.01rem solid #cccccc;
}
.orb > div:nth-child(2) > div:nth-child(1) {
  color: #09AAF0;
}
.orb > div:nth-child(2) > div:nth-child(3) {
  color: #FFCC66;
  font-size: 0.2rem;
}

.orc {
  width: 1.955rem;
  height: 0.35rem;
  background-color: #ffcc66;
  border-radius: 0.06rem;
  margin: 0.365rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font: normal 0.18rem AdobeHeitiStd-Regular;
}

/*# sourceMappingURL=order.css.map */
