/*li列表*/
.list{
	height: 1rem;
	border-bottom: solid 1px #e5e5e5;
	padding-top: .25rem;
}

/*我的*/
.my{
	height: 2.1rem;
	padding-top: .3rem;
}
.my-b-i-1{
	background-image: url(../img/setting.png);
}

.my-b-i-2{
	background-image: url(../img/QR-code.png);
}

.my-portrait{
	width: 87px;
	height: 87px;
}

.my-b-i-l{
	background-image: url(../img/left.png);
	width: .25rem;
	height: .48rem;
	background-size: 100%;
	margin: .14rem;
}

.my-list{
	height: 1rem;
	border-top:1px solid #7b7979;
	padding-top: .25rem;
}
.my-list-icon{
	height:.5rem;
	width: .5rem;
}
.my-lsit-b-i{
	background-image: url(../img/left.png);
	width: .16rem;
	height: .31rem;
	background-size: 100%;
	margin: .14rem;
}
.l-h-5{
	line-height: 0.5rem;
}


/*中间空白间隔*/
.blank{
	height: .15rem;
	background-color: #ebebea;
}

/**/
.right-img{
	background-image: url(../img/right.png);
	width:.2rem;
	height: .37rem;
	background-size: 100%;
}

/*忘记密码*/
.button{
	width: 6.91rem;
	height: .88rem;
	margin-top: .76rem;
	background-color: #fac74d;
	border-radius: 6px;
 }


/*我的账户*/

.account-balance{
	padding: 1rem 0 .79rem 0;
}
.account-button{
	width: 6.68rem;
	height: .76rem;
	margin-top: .3rem;
	/*background-color: #99cdff;*/
	box-shadow: 0px 4px 6px 0px 
		rgba(51, 51, 51, 0.32);
}
 
/*招商合作*/
.attract-img{
	width: 100%;
    height: 8.19rem;
}


