/*公共样式*/

/*1.样式重置*/
html,body,ul,li,img,a,p,div,form,input,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
    /*设置盒模型*/
    box-sizing: border-box;
    /*去除移动端特有的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
}
body{
    font-family: "微软雅黑",sans-serif;
    font-size: .24rem;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
}
/*a,
a:hover{
    color: #666;
    text-decoration: none;
}*/
ul,ol{
    list-style: none;
}
input{
    /*1.清除文本框获取焦点时默认的边框阴影*/
    outline: none;
    /*2.去除边框*/
    border: none;
    /*3.添加边框*/
   /* border: 1px solid #ccc;*/
}
del{
    text-decoration: none;
}

/*2.添加新的样式*/
.lt{
    float: left;
}
.rt{
    float: right;
}
 .none{
		display: none;
	}

.clearfix::before,
.Recommend-content-list::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}
em,i,s{
    font-style: normal;
    text-decoration: none;

}
span{
    display: inline-block;
}
.layer{
    font-size: 0.21rem;
    width: 100%;
    box-sizing: border-box;
   /* height: 100%;*/
   /* max-width: 640px;
    min-width: 320px;*/
}
/*改变placeholder的字体颜色*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

input:-ms-input-placeholder{
    color: #fff;opacity:1;
}

 
em,i{
   font-style: normal;
}
/*网络上下载*/
@charset "utf-8";
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
}
/* IE6对positon:fixed的单独处理修正IE6滚动抖动的bug */
*html,*html body{
    background-image:url(about:blank);/*修正IE6滚动抖动的bug*/
    background-attachment: fixed;/*根据自己实际，非必需*/
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,li,pre,form,fieldset,select,input,textarea,button,p,blockquote,th,td,img,iframe{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
a{
	color:#333333;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    font:  "微软雅黑","Microsoft YaHei","\5b8b\4f53","Tahoma","Arial";
    color: #333;
    outline: none;
}
input,select,textarea{
    font-size: 100%;
    padding: .1rem;
}
/* 重置button边框 */
button{
    border: none;
}
/* 去掉各Table cell 的边距并让其边重合 */
table{
    border-collapse: collapse;
    border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th{
    text-align: inherit;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th{
    text-align: left;
}
/* 去除默认边框 */
fieldset,img{
    border: none;
    outline: none;
    -moz-outline:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display: block;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul,li{
    list-style: none;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
/* 让链接默认不显示下划线，在hover状态下显示下划线 */
a{
    color: #333;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    blr:expression(this.onFocus=this.blur());
}


/*a:hover{
    text-decoration: underline;
}*/
/* 清理浮动 */
.oneself:after,.content:after,.clearfix:before,.clearfix:after,.curriculumRecommend:after,
.activity-TabControl-content > ul:after,.credit-star:after{
    display: block;
    content: " ";
    clear: both;
}
.clearfix, .activity-TabControl-content > ul,.credit-star{
    zoom: 1; /* for ie67*/
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
address,caption,cite,code,dfn,em,th{
    font-style: normal;
    font-weight: normal;
}

/*两端对其*/
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
/*排成一行*/
.row{
    display: flex;
    flex-direction: row;
}
/*文本排版*/
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.ma{
	margin: 0 auto;
}

/*段落开始的时候空两格*/
.ti{
	text-indent:2em
}

.p-r{
	position: relative;
}
	



/*解决盒模型问题css3属性也可用来统一FORM元素风格*/
.box-sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*解决input里面placeholder颜色的值
 * //当然，其他样式也可以在这里修改*/
/*input::-webkit-input-placeholder{
　　coloc:#333333;　　
}　
 */