<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            />
    <title>关注</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/mui.min.css" />
    <link rel="stylesheet" href="../css/topic.css" />
    <link rel="stylesheet" href="../css/Dynamic-hot.css" />
    <link rel="stylesheet" href="../css/focus.css" />
    <link rel="stylesheet" href="../css/mui_img.css" />
    <style>
        html {
            background-color: #FFFFFF;
        !important;
        }

        a {
            color: #333;
        !important;
        }

        .layer {
            background-color: #fff;
        !important;
        }

        p img {
            max-width: 100%;
            height: auto;
        }

        .Dynamic ul li:first-of-type {
            left: 45%;
        }
        .img_box{
            width: 0.82rem;
           height: 0.82rem
        }
        .img_box img{
            max-height: 0.82rem;
        }

    </style>
</head>
<body>
<div class="layer" style="width:100%;height:100%;overflow: hidden">
    <div id="loading">
        <img src="../img/login.gif" alt="" />
    </div>
    <header class="Dynamic Focus_header">
        <ul class="clearfix">
            <li class="focus friends">
                <a href="../html/focus.html">
                    <span>朋友圈</span>
                </a>
            </li>
        </ul>
        <span class="transmit" onclick="window.location.href='publish_photo.html'"></span>
    </header>
    <div class="content clearfix" style="width:100%;height:100%;overflow: hidden">
        <div class="content_header">
            <ul>

            </ul>
        </div>

        <!--头部关注end-->
        <div class="content_main dynamic_topic">
            <!--头部填充-->
        </div>
    </div>
    <!--页脚-->
    <footer class="Focus_footer">
        <ul class="clearfix">
            <li onclick="window.location.href='focus.html'">
                <a href="">
                    <i></i>
                    <span>动态</span>
                </a>
            </li>
            <li onclick="window.location.href='connect.html'">
                <a href="">
                    <i></i>
                    <span>联系人</span>
                </a>
            </li>
            <li onclick="window.location.href='mine.html'">
                <a href="">
                    <i></i>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </footer>
</div>
</body>
<script src="../js/x_rem.js"></script>
<script src="../js/mui.min.js"></script>
<script src="../js/mui.zoom.js"></script>
<script src="../js/mui.preview.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/template-web.js"></script>
<script src="../js/template.js"></script>
<script src="../js/base.js"></script>
<script id="recommend" type="text/html">
    {{each list as value i}}
    <li onclick="location.href='fiends_focus.html?id={{value.id}}'">
      {{if value.headPic ==""}}
        <img src="../img/beyond.png" alt=""/>
        {{else}}
        <div class="img_box">
            <img src="{{value.headPic}}" alt="" /></div>

        {{/if}}
        <span>{{value.name}}</span>
    </li>
    {{/each}}
</script>
<script id="focus" type="text/html">
    <!--循环-->
    {{ each list as value i }}
    <!--本人的出现分享框 删除 -->
    <div class="share1">
        <ul>
            <li id="delete_this" onclick="deleteDynamic('{{value.space_dynamic_id}}')">
                <a href="javascript:;">删除</a>
            </li>
        </ul>
    </div>
    <!--遮罩-->
    <div id="mask_share"></div>
    <!--取消关注的弹框-->
    <div id="mask_delete"></div>
    <div id="confirm_delete" class="clearfix">
        <h4>删除此动态</h4>
        <button class="quit"> 取消</button>
        <button class="confirm" > 确定</button>
    </div>
    <div class="confirm_delete_show">
        已删除
    </div>
    <div class="share_box">
        <!--分享-->
        <div class="share">
            <ul>
                <li id="collect" onclick="save('{{value.space_dynamic_id}}')" data-save="save{{i+1}}">
                    <a href="">收藏</a>
                </li>
                <li id="cancel" onclick="cancel_focus('{{value.user_id}}')" data-cancel="cancel{{i+1}}">取消关注</li>
                <li id="close" onclick="close_all('{{value.space_dynamic_id}}')">
                    <a href="javascript:;">屏蔽</a>
                </li>
                <li onclick="window.location.href='./inform.html?dynamicId={{value.space_dynamic_id}}'">
                    <a href="">举报</a>
                </li>
            </ul>
        </div>
    </div>

    <!--遮罩-->
    <!--取消关注的弹框-->
    <div id="mask_cancel"></div>
    <div id="mask_close"></div>
    <!--点击收藏-->
    <div class="collect_confirm">已收藏</div>
    <!--取消关注的弹框-->
    <div id="cancel_focus" class="clearfix">
        <h4>确定不再关注此人</h4>
        <button class="quit"> 取消</button>
        <button class="confirm"> 确定</button>
    </div>
    <div class="cancel_focus_confirm">
        已取消关注
    </div>
    <!--结束-->
    <!--屏蔽弹框 -->
    <div class="close_focus clearfix" data-close="{{i}}" >
        <h4 class="close_this">屏蔽此条动态</h4>
        <h4 class="close_all" >屏蔽其所有动态</h4>
    </div>
    <div class="close_focus_confirm"></div>

    <!--内容-->
    <div>
        <div class="dynamic_header clearfix" data-userId={{value.user_id}} data-index={{i}}>
            <div style="width: 60%;" onclick="location.href='social_update.html?user_id={{value.user_id}}'">
                {{if value.headpic_path=="" || !value.headpic_path}}
                <img src="../img/beyond.png" alt="" /> {{else}}
                <img src="{{value.headpic_path}}" alt="" /> {{/if}}
                <div class="middle clearfix">
                    <h4 class="mask_name">{{value.nickname?value.nickname:value.name}} </h4>
                    <span>{{value.publish_time.substr(6,10)}}</span>
                </div>
            </div>
            {{if value.isSelf==1}}
            <div class="down1" onclick="show_down1(this)" data-id="{{i}}"></div>
            <!-- 是本人-->
            {{else}}
            <!--不是本人-->
            <div class="down" onclick="show_down(this)" ></div>
            {{/if}}
        </div>
        <div class="content_bottom">
            <div onclick="window.location.href='all_comment.html?sourceId={{value.space_dynamic_id}}'">
                <p class="link"> {{value.content}}</p>
                <!--判断有没有图片-->
                {{if value.resources=="null" || ! value.resources}}
                <img src="" data-preview-src="" data-preview-group="{{i+1}}" class="picture" alt="" />
                {{else}}
                {{value.resources=jsonStringToArr(value.resources)}}
                {{each value.resources as resource j}}

                    <div class="img_Box">
                        <img src="{{resource}}" data-preview-src="" data-preview-group="{{i}}" class="picture" alt="" />
                    </div>
                {{/each}}

                {{/if}}
            </div>
            <div class="content_footer">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;">
                            <img src="../img/point.png" alt="" /> {{if value.location=="null"}}
                            <span>位置</span>
                            {{else}}
                            <span class="location_size">{{value.location}}</span>
                            {{/if}}
                        </a>
                    </li>
                    <li onclick="location.href='./detail.html?detailsId={{value.space_dynamic_id}}'">
                        <a href="javascript:;">
                            <img src="../img/commit.png" alt="" />{{value.comment}}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="prise" onclick="prise('{{value.space_dynamic_id}}')">
                            <img src="../img/hand.png" alt="" data-dynamicId={{i+1}}/>{{value.praise}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{/each}}
</script>
<script>
    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
    var data = localStorage.getItem('userId');
    if (data) {
        data = data.replace(/\"/g, "");
    }
    mui.previewImage();

    var down = $("#down");
    //页面初始化
    function render() {
        $.ajax({
            //处理session每次不唯一问题
            xhrFields: {
                withCredentials: true
            },
            type: 'POST',
            url: 'http://39.104.127.252:8080/beyond/api/spacedynamic/queryFriendDynamic',
            dataType: 'json',
            data: {
                userId: data
            },
            success: function (data) {
                console.log(data);

                /*for(var i=0;i<data.list.length;i++){
                  var date=data.list[i].publish_time;
                    transDate(date);
                    console.log(date);
                }

                function transDate(date) {
                    var tt = new Date(parseInt(date));
                    var days = parseInt((new Date().getTime() - date) / 86400000);
                    var today = new Date().getDate();
                    var year = tt.getFullYear();
                    var mouth = tt.getMonth() + 1;
                    var day = tt.getDate();
                    var time = tt.getHours() < 10 ? "0" + tt.getHours() : tt.getHours();
                    var min = tt.getMinutes() < 10 ? "0" + tt.getMinutes() : tt.getMinutes();
                    var result, offset;
                    offset = Math.abs(today - day);
                    if (days < 4&&offset<4) {
                        if (offset === 0) {
                            result = "今天" + time + ":" + min;
                        } else if (offset === 1) {
                            result = "昨天" + time + ":" + min;
                        } else if (offset === 2) {
                            result = "前天" + time + ":" + min;
                        }
                    } else {
                        result = year + "-" + mouth + "-" + day + " " + time + ":" + min;
                    }
                }*/

                template.helper('jsonStringToArr', function (data) {
                    return JSON.parse(data);
                });
                template.helper('math_random', function (data) {
                    return Math.random;
                });


                var html = template("focus", data);
                $(".content_main").html(html);
            }
        });
    }
    render();
    //获取官方推荐账号 渲染页面
    function recommend() {
        $.ajax({
            data: {
                userId: data
            },
            dataType: "json",
            type: "post",
            url: "http://39.104.127.252:8080/beyond/api/user/recommend",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                console.log(data);
                //渲染
                if (data.code == 0) {
                    var length = data.list.length;
                    //console.log(length);
                    //js 写页面的长度
                    var ul = $(".content .content_header ul")[0];
                    ul.style.width = length * 1.3 + 'rem';
                    //console.log($(".content .content_header ul").width());
                    var recommend = template("recommend", data);
                    $(".content .content_header ul").html(recommend)
                }
            },
            error: function (data) {
                console.log(data);
            }
        })
    }
    recommend()

    //点击箭头
    function show_down(e, event) {
        var index =  $(e).parent().data('index');
        var mask_share = $("#mask_share");
        var share = $($(".share")[index]);
        mask_share.css("display", "block");
        share.css("display", "block");
        //
        $("body").css("overflow", "hidden");
        $("body").on("touchmove", function () {
            event.preventDefault();
        });
        var event = event || window.event;

        if (event.stopPropagation) {
            event.stopPropagation();
        } else {
            event.cancelBubble = true;
        }
        $(document).click(function (event) {
            var event = event || window.event;
            event.preventDefault();
            var target = event.target || event.srcElement;
            if (target.id !== share && target.id !== share) {
                mask_share.css("display", "none");
                share.css("display", "none");
                $("body").css("overflow", "auto");
            }
        })
    }

    function show_down1(e, event) {
        var index =  $(e).parent().data('index');
        var mask_share = $("#mask_share");
        console.log(mask_share)
        var share1 =$($(".share1")[index]);
        mask_share.css("display", "block");
        share1.css("display", "block");
        $("body").css("overflow", "hidden");
        $("body").on("touchmove", function () {
            event.preventDefault();
        });
        var event = event || window.event;
        if (event.stopPropagation) {
            event.stopPropagation();
        } else {
            event.cancelBubble = true;
        }
        $(document).click(function (event) {
            var event = event || window.event;
            event.preventDefault();
            var target = event.target || event.srcElement;
            if (target.id !== share1 && target.id !== share1) {
                mask_share.css("display", "none");
                share1.css("display", "none");
                $("body").css("overflow", "auto");
            }
        })
    }
    //点击取消关注
    function cancel_focus(id) {
        /* $(cancel).attr(data-cancel);*/
        //$(index).attr(data-index);
        var cancel_focus = $("#cancel_focus");
        var mask_cancel = $("#mask_cancel");
        var cancel = $("#cancel");
        mask_cancel.css("display", "block");
        cancel_focus.css("display", "block");
        var quit = $(".quit");
        var confirm = $(".confirm");
        quit.click(function () {
            mask_cancel.css("display", "none");
            cancel_focus.css("display", "none");
        })
        confirm.click(function () {
            quitAttention(id);
            var cancel_focus_confirm = $(".cancel_focus_confirm");
            cancel_focus_confirm.css("display", "block");
            mask_cancel.css("display", "none");
            cancel_focus.css("display", "none");
            window.setTimeout(function () {
                cancel_focus_confirm.css("display", "none");
            }, 2000);
        })

    }
    //点击屏蔽
    function shield(type, sourceId) {
        $.ajax({
            xhrFields: {
                withCredentials: true
            },
            type: "post",
            async: false,
            url: "http://39.104.127.252:8080/beyond/api/shield/save",
            data: {
                userId: data,
                type: type,
                sourceId: sourceId
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                render();
            }
        })
    }
    //点击屏蔽
 /*   function close_all_shield(e) {

        var index =  $(e).parent().data('close');
        console.log(index);
       // shield(1, index);
        $(".close_focus_confirm").css("display", "block");
        $(".close_focus_confirm").text("已屏蔽所有状态");
        $("#mask_close").css("display", "none");
        $(".close_focus").css("display", "none");
        window.setTimeout(function () {
            $(".close_focus_confirm").css("display", "none");
        }, 2000);
    }

    function close_this(e) {
        var index =  $(e).parent().parent().data('index');
        console.log(index);
        //shield(0, index);
        $(".close_focus_confirm").css("display", "block");
        $(".close_focus_confirm").text("已屏蔽此条状态");
        $("#mask_close").css("display", "none");
        $(".close_focus").css("display", "none");

        window.setTimeout(function () {
            $(".close_focus_confirm").css("display", "none");
        }, 2000);
    }*/

    function close_all(id) {
        // $(close).attr(data-close);
        var close_focus = $(".close_focus");
        var mask_close = $("#mask_close");
        var close = $("#close");
        mask_close.css("display", "block");
        close_focus.css("display", "block");
        var close_this = $(".close_this");

        var close_all = $(".close_all");
        var close_focus_confirm = $(".close_focus_confirm");

         close_all.click(function () {
         shield(1,id);
         close_focus_confirm.css("display", "block");
         close_focus_confirm.text("已屏蔽所有状态");
         mask_close.css("display", "none");
         close_focus.css("display", "none");
         window.setTimeout(function () {
         close_focus_confirm.css("display", "none");
         }, 2000);
         })
         close_this.click(function () {
         shield(0,id);
         close_focus_confirm.css("display", "block");
         close_focus_confirm.text("已屏蔽此条状态");
         mask_close.css("display", "none");
         close_focus.css("display", "none");

         window.setTimeout(function () {
         close_focus_confirm.css("display", "none");
         }, 2000);
         })


    }
    //点击收藏
    function save(id) {
        var collect = $("#collect");
        var collect_confirm = $(".collect_confirm");
        // console.log(collect_confirm);
        $.ajax({
            xhrFields: {
                withCredentials: true
            },
            type: "post",
            async: false,
            url: "http://39.104.127.252:8080/beyond/api/collect/save",
            data: {
                userId: data,
                id: id,
                type: 0,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.code == 0) {

                    collect_confirm.css("display", "block");
                    // render();
                }
                window.setTimeout(function () {
                    collect_confirm.css("display", "none");
                }, 2000);
            }
        })
    }

    //点击评论  跳转到对应页面
    //点赞
    var isprise = true;
    prise.userId = data;

    function prise(dynamicId) {
        if (isprise) {
            $.ajax({
                url: "http://39.104.127.252:8080/beyond/api/spacedynamic/praise",
                data: {
                    dynamicId: dynamicId,
                    userId: data,
                    isPraise: 1
                },
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                type: "post",
                async: false,
                success: function (data) {
                    // console.log(data);
                    /*  var this_prise=$(".prise")[dynamicId-1];
                     console.log(this_prise);
                     var text= $(".prise")[dynamicId-1].innerText;
                     console.log(text);*/
                    /* text=text-1;*/
                    render();

                },
                error: function (data) {
                    console.log(data);
                }
            });
            isprise = false;
        } else {
            $.ajax({
                url: "http://39.104.127.252:8080/beyond/api/spacedynamic/praise",
                data: {
                    dynamicId: dynamicId,
                    userId: data,
                    isPraise: 0
                },
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                type: "post",
                async: false,
                success: function (data) {
                    //console.log(data);
                    render();
                    //$(this).text()-1;
                },
                error: function (data) {
                    console.log(data);
                }
            });
            isprise = true;
        }
    }

    function goHref() {
        window.location.href = "./location.html";
    }
    //用户自己删除动态
    function deleteDynamic(spaceDynamicId) {
        $.ajax({
            xhrFields: {
                withCredentials: true
            },
            type: "post",
            async: false,
            url: "http://39.104.127.252:8080/beyond/api/spacedynamic/delete",
            data: {
                spaceDynamicId: spaceDynamicId
            },
            dataType: 'json',
            success: function (data) {
                alert("删除成功");
                console.log(data);
                render();
            }
        })
    }

/*    function delete_this(Delete) {
        var confirm_delete = $("#confirm_delete");
        console.log(confirm_delete);
        var mask_delete = $("#mask_delete");
        var cancel = $("#cancel");
        mask_delete.css("display", "block");
        confirm_delete.css("display", "block");
        var quit = $(".quit");
        console.log(quit);
        var confirm = $(".confirm");
        quit.click(function () {
            mask_delete.css("display", "none");
            confirm_delete.css("display", "none");
        });
        confirm.click(function () {

            var confirm_delete_show = $(".confirm_delete_show");
            confirm_delete_show.css("display", "block");
            mask_delete.css("display", "none");
            confirm_delete.css("display", "none");
            window.setTimeout(function () {
                confirm_delete_show.css("display", "none");
            }, 2000);
            deleteDynamic(Delete);
        })
    }*/
    //取消关注
    function quitAttention(id) {
        $.ajax({
            xhrFields: {
                withCredentials: true
            },
            type: "post",
            async: false,
            url: "http://39.104.127.252:8080/beyond/api/attention/attention",
            data: {
                userId: data,
                id: id,
                type: 0,
                isAttention: 0
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.code == 0) {

                    render();
                    /*  var html=template("my_dynamic",data);
                     $(".content_main").html(html);*/
                }

            },
            error: function (data) {
                console.log(data);
            }
        })
    }
</script>

</html>