<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>我的</title>
    <link rel="stylesheet" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/topic.css"/>
    <link rel="stylesheet" href="../css/mine.css"/>
    <style>
        a:active,a:link{
             color: #333333;
         }
    </style>
</head>
<body>
<div id="loading">
    <img src="../img/login.gif" alt=""/>
</div>
<div class="layer">
    <!--内容-->
</div>
</body>
<script src="../js/x_rem.js"></script>

<script src="../js/mui.min.js"></script>
<script src="../js/base.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/template-web.js"></script>
<script src="../js/template.js"></script>
<script type="text/html" id="mine">
    <div class="header">
        <div class="up clearfix">
            <i class="f_right" onclick="window.location.href='college_seting.html'" ></i>
           <!-- <i class="f_right QR_code" onclick="window.location.href='QR_code.html'"> </i>-->
        </div>
        <div class="center">
            {{if headpicPath==''|| !headpicPath}}
            <img src="../img/beyond.png" id="img1"  alt="" onclick="window.location.href='editData.html?userId={{userId}}'"/>
            {{else }}
            <img src="{{headpicPath}}" id="img"  alt="" onclick="window.location.href='editData.html?userId={{userId}}'"/>
            {{/if}}
            <div class="minddle" onclick="window.location.href='editData.html?userId={{userId}}'">
                <div class="middle_up">
                    <span class="name">{{nickname}}</span>
                </div>
                <div class="middle_center">
                    {{userId}}
                </div>
                <div class="middle_down">
                    <i>{{sex==1?"男":"女"}}</i>
                    {{if birthday==null}}
                    <i>0岁</i>
                    {{else}}
                    <i>{{date()-birthday.split("-")[0]-0}}岁</i>
                    {{/if}}
                    <i>{{school}}</i>
                </div>
            </div>

        </div>
        <div class="down" onclick="window.location.href='abstract.html?userId={{userId}}'">简介：
            {{if intro==null||intro==""}}
            <span id="user_writ">此人很懒，暂时还没有简介</span>
            {{else}}
            <span id="user_writ">{{intro}}</span>
            {{/if}}
        </div>


    </div>
    <!--遮罩-->
    <!--<div id="mask"></div>
    &lt;!&ndash;弹框&ndash;&gt;
        <div id="show">
            <ul>
                <li>
                    <a href="bg.html"><button id="replaceImg" class="l-btn">从本机更换背景图片</button></a>
                </li>
                <li>
                <a href="javascript:;">从动态相册选择</a>
                </li>
               &lt;!&ndash; <li>
                    <a href="javascript:;">从手机相册选择</a>
                </li>

                <li>
                    <a href="javascript:;">拍一张</a>
                </li>&ndash;&gt;
                <li>
                    <button>取消</button>
                </li>
            </ul>
        </div>-->
    <!--导航部分-->
    <div class="nav" >
        <ul class="clearfix">
            <li>
                <a href="my_dynamic.html?userId={{userId}}">
                    <img src="../img/dynamic.png" alt=""/>
                    <em>我的动态</em>
                </a>
            </li><li>
            <a href="dynamic_photo.html?userId={{userId}}">
                <img src="../img/mine_photo.png" alt=""/>
                <em>照片</em>
            </a>
        </li>
            <li>
                <a href="timetablenew.html?userId={{userId}}">
                    <img src="../img/date.png" alt=""/>
                    <em>课程表</em>
                </a>
            </li>
            <li>
                <a href="myFans.html?userId={{userId}}">
                    <img src="../img/addMine.png" alt=""/>
                    <em>粉丝</em>
                </a>
            </li>
        </ul>
    </div>
    <!--文学江湖-->
    <div class="literature">
        <p>文学江湖</p>
        <ul class="literature_content">
            <li>
                <a href="my_literure.html?userId={{userId}}">
                    <img src="../img/remember.png" alt=""/>
                    <span>我的文学</span>
                </a>
            </li>
            <li>
                <a href="activity.html?userId={{userId}}">
                    <img src="../img/data.png" alt=""/>
                    <span>金秋杯</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../img/camera.png" alt=""/>
                    <span>汉服摄影</span>
                </a>
            </li>
        </ul>
    </div>
    <!--页脚-->
    <footer class="mine_footer">
        <ul class="clearfix">
            <li >
                <a href="focus.html?userId={{userId}}">
                    <i></i>
                    <span>动态</span>
                </a>
            </li>
            <li>
                <a href="connect.html?userId={{userId}}">
                    <i></i>
                    <span>联系人</span>
                </a>
            </li>
            <li>
                <a href="mine.html?userId={{userId}}">
                    <i></i>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </footer>

</script>

<!--换背景的逻辑  点击除了任意目标的地方 出现遮罩和人、弹框-->
<script>
    (function($, doc) {
        $.init();
        $.plusReady(function() {
            var backButtonPress = 0;
            $.back = function(event) {
                backButtonPress++;
                if (backButtonPress > 1) {
                    plus.runtime.quit();
                } else {
                    plus.nativeUI.toast('再按一次退出应用');
                }
                setTimeout(function() {
                    backButtonPress = 0;
                }, 1000);
                return false;
            };
        });
    }(mui, document));
    //禁止 回退
    if (window.history && window.history.pushState) {
        $(window).on('popstate', function () {
            window.history.forward(1);
        });
    }
    //禁止 回退结束
    $(document).ajaxStop(function(){
        $("#loading").hide();
    });
    //判断用户是否登录
    var user = localStorage.getItem('user');
    if(!isNotBlank(user)){
        window.location.href = "./login.html";
    }

    //点击背景 显示模态框 点击文档中的任意位置隐藏模态框
    //var up = document.getElementsByClassName("up")[0];
    var bg_btn = document.getElementsByClassName("bg_btn")[0];
    var minddle = document.getElementsByClassName("minddle")[0];
   /* var img = document.getElementById("img");
    var user_writ = document.getElementById("user_writ");*/
   /* var mask = document.getElementById("mask");
    var show = document.getElementById("show");
    bg_btn.onclick = function (event) {
        // console.log("1");
        mask.style.display = "block";
        show.style.display = "block";
        /!*document.body.style.overflow = "hidden"*!/
        var event = event || window.event;
        if (event.stopPropagation) {
            event.stopPropagation();
        } else {
            event.cancelBubble = true;
        }
    };
    document.onclick = function (event) {
        var event = event || window.event;
        var target = event.target || event.srcElement;
        if (target.id !== "show") {
            //获取事件目标 如果不是show才能消失
            mask.style.display = "none";
            show.style.display = "none";
            /!* document.body.style.overflow = "auto"*!/
      }
    };*/
    //点击二维码 页面跳转
/*var  QR_code = document.getElementsByClassName(" QR_code")[0];
    QR_code.onclick=function(){
        window.location.href="./QR_code.html";
    }*/
    //验证不为空
    function isNotBlank(data) {
        return (data == "" || typeof(data)  == "undefined"|| data == null ) ? false : true;
    }
    var userId=localStorage.getItem('userId');
    var date= new Date().getFullYear();
    console.log(date);
    function render(){
        $.ajax({
            xhrFields: {
                withCredentials: true
            },
            type: "post",
            async: false,
            url: "http://39.104.127.252:8080/beyond/api/user/userInfo",
            data:{userId:userId},
            dataType: 'json',
            success:function(data) {
                console.log(data);
                if(data.code==0){
                    template.helper('date', function() {
                        return new Date().getFullYear();
                    });
                    var html=template("mine",data.user);
                    $(".layer").html(html);
                }


            }
        })
    }
    render();
</script>



</html>